<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  {% include seo.html %}
  {% include schema.html %}
  
  <link rel="preconnect" href="/" crossorigin>
  <link rel="stylesheet" href="/assets/css/main.css">
  
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="alternate icon" href="/assets/favicon.ico">
  
  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  
  <!-- Feed -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
</head>
<body>
  {% include header.html %}
  
  <main id="main-content">
    {{ content }}
  </main>
  
  {% include footer.html %}
  {% include chat-widget.html %}
  
  <script src="/assets/js/main.js" defer></script>
</body>
</html>
